<a href="https://colab.research.google.com/github/DousMoon/ml0804/blob/master/basic0804.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris["data"],columns = iris["feature_names"])
df["ans"] = iris["target"]
df

In [10]:
x = df.drop(["ans"], axis=1)
y = df["ans"]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: ans, Length: 150, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
# [x_train, x_test, y_train, y_test]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1)

[     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 140                6.7               3.1                5.6               2.4
 52                 6.9               3.1                4.9               1.5
 85                 6.0               3.4                4.5               1.6
 121                5.6               2.8                4.9               2.0
 51                 6.4               3.2                4.5               1.5
 ..                 ...               ...                ...               ...
 132                6.4               2.8                5.6               2.2
 104                6.5               3.0                5.8               2.2
 142                5.8               2.7                5.1               1.9
 122                7.7               2.8                6.7               2.0
 26                 5.0               3.4                1.6               0.4

 [135 rows x 4 columns],
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 66                 5.6               3.0                4.5               1.5
 79                 5.7               2.6                3.5               1.0
 99                 5.7               2.8                4.1               1.3
 30                 4.8               3.1                1.6               0.2
 102                7.1               3.0                5.9               2.1
 37                 4.9               3.6                1.4               0.1
 106                4.9               2.5                4.5               1.7
 128                6.4               2.8                5.6               2.1
 89                 5.5               2.5                4.0               1.3
 139                6.9               3.1                5.4               2.1
 76                 6.8               2.8                4.8               1.4
 19                 5.1               3.8                1.5               0.3
 6                  4.6               3.4                1.4               0.3
 98                 5.1               2.5                3.0               1.1
 88                 5.6               3.0                4.1               1.3,
 140    2
 52     1
 85     1
 121    2
 51     1
       ..
 132    2
 104    2
 142    2
 122    2
 26     0
 Name: ans, Length: 135, dtype: int64,
 66     1
 79     1
 99     1
 30     0
 102    2
 37     0
 106    2
 128    2
 89     1
 139    2
 76     1
 19     0
 6      0
 98     1
 88     1
 Name: ans, dtype: int64]